@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


.user-nav{
    display: flex !important;
    flex-direction: column !important;
    align-items: flex-start !important;
    padding: 0px !important;
    position: absolute !important;
    width: 256px !important;
    height: 100vh;
    left: 0px;
    font-family: 'Poppins', sans-serif !important;
    background: #fff !important;
}

.userBio {
    padding: 4px 0px;
}

.item {
    padding: 18px 48px !important;
    font-size: 16px;
}

.imgDiv{
    padding: 7px 50px;
}

/* Above: User Nav */

.userMainClass {
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    background: rgb(236, 236, 236);
    height: 100vh;
}

/* Above: User Main Class */

.userBlobParent {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
    margin-right: 5%;
}

.userBlob {
    padding: 16px;
    width: 12%;
    border: 1px solid #E0E0E0;
    border-radius: 8px;
    background: #fff;
}

.employeeName {
    display: flex;
    flex-direction: column;
    
}

.name {
    font-weight: bold;
    display: inline-block;
    font-size: 18px;
}

.empID {
    font-weight: 200;
    font-size: 18px;
    padding-top: 12px;
}

.display-page-header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* .far fa-user-circle {
    width: 64px !important;
    height: 64px !important;
} */

/* Above: User Blob */

.displayMain {
    display: flex;
    align-items: center;
    justify-content: center;
}

.display-page-component{
    margin-top: 5%;
    width: 60%;
}

.tableHeading {
    font-size: 20px;
    font-weight: 800;
}

.attributeName {
    font-weight: bold;
}


/* Above: Main Content */

.user-Img {
    width: 110px;
    height: 51px;
}

 .userMain {
     height: 100vh;
 }

